<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> <!--The / refers to start from root directory, "public"-->
  <title>Yelp Camp</title>
</head>

<script>
  // disabling button on submit
  $("form").submit(function(){
    $("input[type=submit]", this).attr("disabled", "disabled");
  });
</script>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">
      <img id="navbar-brand-img" src="/images/camp-logo.png" alt="camp logo"> 
      YelpCamp
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto"> <!-- ml-auto moves everything to the right-->
        <% if(!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up">Sign Up</a>
          </li>
          <% }  else { %>
            <div class="dropdown show">
              <a href="#" class="btn btn-info dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge"><%= notifications.length %></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/notifications">View past notifications</a>
                <% notifications.forEach( (notification) => { %>
                    <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                      <%= notification.username %> created a new campground
                    </a>
                <% }); %>
              </div>
            </div>

            <li class="nav-item">
              <a class="nav-link" href="/profile/<%= currentUser.id %>">Signed in as: <%= currentUser.username %></a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        <% } %>
      </ul>
      
    </div>
  </nav>

  <div class="container">
    <% if(error && error.length > 0) {  %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
      </div>
  <%  } %>
    <% if(success && success.length > 0) {  %>
      <div class="alert alert-success alert-dismissible fade show" role="alert"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
      </div>
    <%  } %>
  </div>
  