<% include ../partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h5>
                Yelp Camp
                <small class="text-muted">Thrilling adventures await!</small>
            </h5>
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </ul>
            </div>
            <br>
            <div id="map"></div>    <!--to display google map-->
        </div>
        <div class="col-md-9">
            <figure class="figure">
                <img class="figure-img" src="<%= campground.image %>" alt="campground-image">
                <figcaption class="figure-caption">
                    <h5 class="float-right">$<%= campground.price %>/night</h5>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted By <%= campground.author.username %></em> 
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-btn-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                    <% } %>
                </figcaption>
            </figure>

            <div class="card" style="max-width: 62rem;">
                <div class="text-right">
                    <a id="review-btn" class="btn btn-info" href="/campgrounds/<%= campground._id %>/comments/new">Leave a review</a>
                </div>
                <hr>
                <div class="card-header">Reviews</div>
                <% campground.comments.forEach( (comment) => { %>
                    <div class="card-body">
                        <span class="float-right">10 days ago</span>
                        <h5 class="card-title"><%= comment.author.username %></h5>
                        <p class="card-text"><%= comment.text %></p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" 
                                class="btn btn-sm btn-warning">Edit</a>
                            <form class="delete-btn-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>    
                        <% } %>
                    </div>
                    <hr>
               <% }); %>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
        content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQbQ3jTJSfFk3ehxJsZKH9Lwc6Q8Xn5Ts&callback=initMap"></script>

<% include ../partials/footer %>